body{
    background-color: grey;
}

#maintitle{
    background-color: yellowgreen;
    margin-left: -9px;
    color:aliceblue;
    margin-top: -10px;
    margin-right: -6px;
}

#mybotarmy{
    color: greenyellow;
    text-align: center;
}


#botcollection{
    color:brown;
    text-align: center;
}

img{
    width: 200px;
    text-align: center;
    height: 200px;
    margin-top: 0px;
    background-color: aqua;
    

}
.botname {
    color : purple;
    text-align: center;
    padding: 2px;
    background-color: aqua;
}


.botdetails{
    color: green;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0%;
    background-color: aqua;

}
.botcontainer{
    text-align: center;
    border: 2px solid black;
    border-radius: 22px;
    justify-content: center;
    width: 25%;
    height: 350px;
    background-color: aqua;
    float: left;
    margin: 40px;
    
}
#botarmycontainer{
    display: block;
    margin-bottom: 100px;
    flex-wrap: wrap;

}
#botcollectioncontainer{
    margin-top: 400px;
    display: block;
}

button{
    background-color: red;
}