/*background color of the body*/
body{
    background-color: grey;     
}

/*main title styling*/
#maintitle{
    background-color: yellowgreen;
    margin-left: -9px;
    color:aliceblue;
    margin-top: -10px;
    margin-right: -6px;
}

/*title styling*/
#mybotarmy{
    color: greenyellow;
    text-align: center;
}

/*title styling*/
#botcollection{
    color:brown;
    text-align: center;
}



/*BOT DETAILS*/

/*generalizing the image attributes*/
img{
    width: 200px;
    text-align: center;
    height: 200px;
    margin-top: 0px;
    background-color: aqua;
    

}
.botname {
    color : purple;
    text-align: center;
    padding: 2px;
    background-color: aqua;
}

/*bot details*/
.botdetails{
    color: green;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0%;
    background-color: aqua;

}

/*bot profile div*/
.botcontainer{
    text-align: center;
    border: 2px solid black;
    border-radius: 22px;
    justify-content: center;
    width: 25%;
    height: 350px;
    background-color: aqua;
    float: left;
    margin: 40px;
    
}

/*bot profiles div container*/
#botarmycontainer{
    display: block;
    margin-bottom: 100px;
    flex-wrap: wrap;

}
#botcollectioncontainer{
    margin-top: 400px;
    display: block;
}

/*generalized button features*/
button{
    background-color: red;
}
/* .styling_stuff{
    display: flex;
    align-items: center;
    /* justify-content: center; */